* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
    overflow: hidden;
}
.recyclebin{
    position: absolute;
    margin: 540px 0px 0px 1400px;
    height: 120px;
    width: 120px;
}
.useMe{
    position: absolute;
    margin: 680px 0px 0px 1410px;
    color: white;
    font-weight: bold;
    font-size: 17px;
  
}
.heading {
    position: absolute;
    color: white;
    margin-bottom: 615px;
}
.color_change {
    position: absolute;
    margin-bottom: 618px;
    position: fixed;
    padding: 0.6rem 1rem;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 400;
    background-color: #efd14f;
    cursor: pointer;
    border: 2px red;
    margin-left: 1262px;
}
.modal-content {
    visibility: hidden;
    position: absolute;
    background-color: #c4e1ed;
    width: 438px;
    height: 230px;
    border-radius: 10px;
}
.modal {
    background-color: rgb(32 56 56);
    height: 49.5px;
    border-radius: 10px 10px 0 0;
}
.modal_down {
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: right;
}
.text_front {
    height: 49px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 404px;
    font-size: 20pt;
    padding-top: 9px;
    margin: 0px 15px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(236, 232, 232);
}
.add_Task {
    position: absolute;
    margin-bottom: 500px;
}
.add_name {
    width: 548px;
    border-radius: 5px;
    padding: 0.4rem 0.6rem;
    font-weight: bold;
    margin-right: 5px;
    font-size:15px;
}
.submit {
    border-radius: 5px;
    margin-top: 10px;
    padding: 0.4rem 0.4rem;
    font-weight: bold;
    color: #970b20;
    font-size: 15px;
}
.color_change:hover {
    background-color: rgb(50, 166, 166);
    color: #eaf1e6;
}
.box1,
.box2,
.box3,
.box4 {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: black;
    width: 290px;
    height: 450px;
    margin: 50px 18px 0px 18px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
#description_input {
    margin: 50px 40px;
    border-radius: 6px;
    border: 2px red;
    width: 350px;
    background-color: #333232;
    color: white;
    padding: 0.6rem 0.8rem;
    font-weight: bold;
    font-size: 15px;
}
#description_input::-webkit-scrollbar {
    display: none;
}
.btn_bottom {
    margin: 10px;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    font-weight: bold;
    color: #970b20;
}
.submit:hover,
.add:hover,
.btn_Save:hover {
    background-color: #7edba9;
    cursor: pointer;
}
.btn_Cancel:hover{
    background-color: #ff8a80;
    cursor: pointer;
}
.container {
    overflow-y: auto;
    grid-auto-rows: 100px;
    height: 395px;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ hide sidebar */
    scrollbar-width: none;
    /* Firefox hide sidebar*/
    /* padding-bottom: 90px; */
}
.container::-webkit-scrollbar {
    /*for chrome hide sidebar */
    display: none;
}
.Review {
    padding: 20px 92px 20px 92px;
}
.Progress {
    padding: 20px 0 20px 85px;
}
.Progress,
.Review,
.Done,
.open {
    background: rgb(34 33 33 / 78%);
    border-radius: 10px 10px 0 0;
    height: 50px;
    color: #d2e3ea;
    font-size: 18px;
    font-weight: 600;
}
.Done,
.open {
    padding: 20px 118px 20px 118px;
}
.task {
    border-radius: 10px;
    /* height: 80px; */
    color: black;
    margin: 8px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
}
.box1 .task {
    background-color: rgb(102, 253, 253);
}
.box2 .task {
    background-color: #9397ee;

}
.box3 .task {
    background-color: #80dbe4;
}
.box4 .task {
    background-color: hsl(154, 64%, 73%);
}
.btn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 0);
    background-color: #FFFFFF;
    align-self: flex-end;
    margin-right: 9px;
    cursor: pointer;
    margin-bottom: 6px;
}
.text {
    width: 288px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 15px;
    font-size: 18px;
    align-self: flex-start;
    margin-top: 5px;
    font-weight: bold;
}
.mark {
    align-self: flex-start;
    width: 34px;
    height: 7px;
    border-radius: 5px;
    margin: 8px 0 0 5px;
}
.box1 .mark {
    background-color: #e45c4c;
}

.box2 .mark {
    background-color: #df52df;
}
.box3 .mark {
    background-color: #7a8ee8;
}
.box4 .mark {
    background-color: #f5bb32;
}
.btn_Cancel {
    margin-left: 251px;
}
.text_container {
    width: 280px;
    height: 49px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 9px;
    margin: 0px 15px;
    font-size: 20px;
    font-weight: bold;
}
.description_Wrapper{
    width: 262px;
    /* background-color: #c4f2d9; */
    font-size: 17px;
    font-weight:500;
    word-wrap:break-word;
    border-radius: 5px;
    padding: 0.2rem 0.3rem;
    margin: 5px 0;
}
