* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
    /* overflow: hidden; */
}
.trash{
    margin-top: -4vw;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
   justify-content:flex-start;
}
.recyclebin{
    height: 120px;
    width: 124px;
    
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    }
.heading {
    margin-top: 1.4vw;
    margin-left:36vw ;
    color: white;
}
.color_change {
    margin-left: 15vw;
    margin-top: 1.4vw;
    padding: 0.6rem 1rem;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 400;
    background-color: #efd14f;
    cursor: pointer;
    border: 2px red;
}
.modal-content {
    margin-top: 10vw;
    margin-left: 33vw;
    visibility: hidden;
    position: absolute;
    background-color: #c4e1ed;
    width: 438px;
    height: 230px;
    border-radius: 10px;
}
.modal {
    background-color: rgb(32 56 56);
    height: 49.5px;
    border-radius: 10px 10px 0 0;
}
.modal_down {
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: right;
}
.text_front {
    height: 49px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    width: 404px;
    font-size: 20pt;
    padding-top: 9px;
    margin: 0px 15px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(236, 232, 232);
}
.add_Task {
    margin-top: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add_name {
    width: 548px;
    border-radius: 5px;
    padding: 0.4rem 0.6rem;
    font-weight: bold;
    margin-right: 5px;
    font-size:15px;
}
.submit {
    border-radius: 5px;
    margin-top: 10px;
    padding: 0.4rem 0.4rem;
    font-weight: bold;
    color: #970b20;
    font-size: 15px;
}
.color_change:hover {
    background-color: rgb(50, 166, 166);
    color: #eaf1e6;
}
.BoxConatiner {
   display: flex;
   justify-content: center;
   align-items: center;
}
.box1,
.box2,
.box3,
.box4 {
    /* position: relative; */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: black;
    width: 290px;
    height: 450px;
    margin: 50px 18px 0px 18px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
#description_input {
    margin: 50px 40px;
    border-radius: 6px;
    border: 2px red;
    width: 350px;
    background-color: #333232;
    color: white;
    padding: 0.6rem 0.8rem;
    font-weight: bold;
    font-size: 15px;
}
#description_input::-webkit-scrollbar {
    display: none;
}
.btn_bottom {
    margin: 10px;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    font-weight: bold;
    color: #970b20;
}
.submit:hover,
.add:hover,
.btn_Save:hover {
    background-color: #7edba9;
    cursor: pointer;
}
.btn_Cancel:hover{
    background-color: #ff8a80;
    cursor: pointer;
}
.container {
    overflow-y: auto;
    grid-auto-rows: 100px;
    height: 395px;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ hide sidebar */
    scrollbar-width: none;
    /* Firefox hide sidebar*/
    /* padding-bottom: 90px; */
}
.container::-webkit-scrollbar {
    /*for chrome hide sidebar */
    display: none;
}
.Review {
    padding: 20px 92px 20px 92px;
}
.Progress {
    padding: 20px 0 20px 85px;
}
.Progress,
.Review,
.Done,
.open {
    background: rgb(34 33 33 / 78%);
    border-radius: 10px 10px 0 0;
    height: 50px;
    color: #d2e3ea;
    font-size: 18px;
    font-weight: 600;
}
.Done,
.open {
    padding: 20px 118px 20px 118px;
}
.task {
    border-radius: 10px;
    /* height: 80px; */
    color: black;
    margin: 8px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
}
.box1 .task {
    background-color: rgb(102, 253, 253);
}
.box2 .task {
    background-color: #9397ee;

}
.box3 .task {
    background-color: #ea96ff;
}
.box4 .task {
    background-color: hsl(154, 64%, 73%);
}
.btn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 0);
    background-color: #FFFFFF;
    align-self: flex-end;
    margin-right: 9px;
    cursor: pointer;
    margin-bottom: 6px;
}
.text {
    width: 288px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 15px;
    font-size: 18px;
    align-self: flex-start;
    margin-top: 5px;
    font-weight: bold;
}
.mark {
    align-self: flex-start;
    width: 34px;
    height: 7px;
    border-radius: 5px;
    margin: 8px 0 0 5px;
}
.box1 .mark {
    background-color: #e45c4c;
}

.box2 .mark {
    background-color: #df52df;
}
.box3 .mark {
    background-color: #7a8ee8;
}
.box4 .mark {
    background-color: #f5bb32;
}
.btn_Cancel {
    margin-left: 251px;
}
.text_container {
    width: 280px;
    height: 49px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 9px;
    margin: 0px 15px;
    font-size: 20px;
    font-weight: bold;
}
.description_Wrapper{
    width: 262px;
    /* background-color: #c4f2d9; */
    font-size: 17px;
    font-weight:500;
    word-wrap:break-word;
    border-radius: 5px;
    padding: 0.2rem 0.3rem;
    margin: 5px 0;
}

@media screen and (max-width :700px) {
    .body{
        overflow:hidden;
    }
    .header,
    .h1,
    .h2,
    .h3,
    .h4{
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
    .header{
        flex-wrap: wrap;
    }
    .heading {
    margin-left: 6vw;
    margin-top: 2vw;
    }
    .color_change {
    margin-right: 8vw;
    margin-top: 1.4vw;
    padding: 5px 8px;
    font-size: 14px;
    }
.BoxConatiner {
   display: flex;
   justify-content:space-around;
   align-items: center;
   flex-wrap: wrap;
}
.box1,
.box2,
.box3,
.box4 {
    width: 170px;
    height: 290px;
    margin: 10px 5px;
   
}
.Progress,
.Review,
.Done,
.open{
    border-radius: 5px 5px 0 0;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
}
.Review ,
.Progress,
.Done,
.open{
    padding:0;
}

.add_name {
    width: 300px;
    padding: 0.4rem 0.4rem;
    font-weight: 600;
    margin-right: 5px;
    font-size:12px;
    border: none;
    margin-bottom: 10px;
}  
.submit {
    margin-bottom: 10px;
    padding: 0.4rem 0.4rem;
    font-weight: 600;
    font-size: 12px;
    border: none;
}
.container {
    height: 250px;
}
.task {
    border-radius: 10px;
    margin: 4px 3px;
}
.mark {
    width: 15px;
    height: 5px;
    border-radius: 3px;
    margin: 6px 0 0 4px;
}
.text {
    width: 168px;
    padding: 0px 5px;
    font-size: 15px;
    margin-top: 5px;
}
.description_Wrapper{
    width: 168px;
    font-size: 14px;
    font-weight:500;
    padding: 0px 5px;
    margin: 5px 0;
}
.modal-content {
    margin-top: 10vw ;
    margin-left: 10vw;
    width: 320px;
    height: 190px;
    border-radius: 10px;
}
.modal {
    height: 30.5px;
    border-radius: 10px 10px 0 0;
}
.modal_down {
    border-radius: 0px 0px 10px 10px;
}
.text_front {
    height: 28px;
    font-size: 16px;
    padding-top: 4px;
    margin: 0px 5px;
    font-weight: bold;
}
#description_input {
    margin: 50px 5px 51.5px 5px;
    border-radius: 5px;
    width: 308px;
    padding: 0.4rem 0.4rem;
    font-weight: 500;
    font-size: 12px;
}
.btn_bottom {
    margin: 2px 8px;
    border-radius: 5px;
    padding: 0.1rem 0.4rem;
}
.trash{
    margin-top: 0vw;
}
.recyclebin{
    height: 70px;
    width: 80px;  
}
}
@media only screen and (min-width: 703px) and (max-width: 1224px) {
    .body{
        overflow:hidden;
    }
    .header,
    .h1,
    .h2,
    .h3,
    .h4{
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
    .header{
        flex-wrap: wrap;
    }
    .heading {
    margin-left: 22vw;
    margin-top: 3vw;
    }
    .color_change {
    /* margin-right: 8vw; */
    margin-top: 3vw;
    padding: 5px 8px;
    font-size: 14px;
    }
.BoxConatiner {
   display: flex;
   justify-content:space-around;
   align-items: center;
   flex-wrap: wrap;
}
.box1,
.box2,
.box3,
.box4 {
    width: 330px;
    height: 450px;
    margin: 15px 5px;
   
}
.Progress,
.Review,
.Done,
.open{
    border-radius: 5px 5px 0 0;
    height: 45px;
    font-size: 18px;
    font-weight: 700;
}
.Review ,
.Progress,
.Done,
.open{
    padding:0;
}

.add_name {
    width: 500px;
    padding: 0.4rem 0.5rem;
    font-weight: 600;
    margin-right: 5px;
    font-size:15px;
    border: none;
    margin-bottom: 10px;
}  
.submit {
    margin-bottom: 10px;
    padding: 0.4rem 0.5rem;
    font-weight: 600;
    font-size: 15px;
    border: none;
}
.container {
    height: 400px;
}
.task {
    border-radius: 10px;
    margin: 6px 5px;
}
.mark {
    width: 30px;
    height: 6px;
    border-radius: 3px;
    margin: 10px 5px 5px 10px;
}
.text {
    width: 315px;
    padding: 5px 2px 5px 8px ;
    font-size: 18px;
    margin-top: 6px;
}
.description_Wrapper{
    width: 315px;
    font-size: 18px;
    font-weight:500;
    padding: 5px 5px;
    margin: 5px 0;
}
.modal-content {
    margin-top: 10vw ;
    margin-left: 31vw;
    width: 460px;
    height: 250px;
    border-radius: 10px;
}
.modal {
    height: 40.5px;
    border-radius: 10px 10px 0 0;
}
.modal_down {
    border-radius: 0px 0px 10px 10px;
}
.text_front {
    height: 28px;
    font-size: 18px;
    padding-top: 5px;
    margin: 0px 8px;
    font-weight: bold;
}
#description_input {
    margin: 67px 10px ;
    border-radius: 5px;
    width: 440px;
    padding: 0.5rem 0.4rem;
    font-weight: 500;
    font-size: 16px;
}
.btn_bottom {
    margin: 5px 8px;
    border-radius: 5px;
    padding: 0.3rem 0.4rem;
}
.trash{
    margin: -40vw 5vw 0vw 0vw;
}
.recyclebin{
    height: 100px;
    width: 120px;  
}
}
